footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.qwerty-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.qwerty-block {
  width: 40px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  border-radius: 5px;
  background-color: #d3d6da;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.qwerty-block img {
  width: 25px;
  height: 25px;
}
